<div class="list-container">
    <div class="ats-bodytop">
        <div class="salary">
            <p class="ats-title-section">حقوق</p>
            <span class="ats-tag">{salary}</span></div>
        <div class="gender">
            <p class="ats-title-section">جنسیت</p>
            <span class="ats-tag"> {gender}</span></div>
    </div>


    <div class="jobdescription">
        {jobdescription}</div>
    <div class="experience">
        {experience}</div>
    <div class="skills">
        {skills}</div>
    <div class="ats-applybtn">{applybutton}</div>
</div>